body {
  font-family: monospace;
  font-size: 14px;
  margin: 0 auto;
  max-width: 45em;
  padding: 1em 2em;
  text-align: justify;
}
button {
  display: block;
  margin: 1em 0;
}
h1 {
  text-align: center;
}
input {
  border: thin lightgray solid;
  box-sizing: border-box;
  display: block;
  padding: 0.5em;
  width: 100%;
}
#output {
  padding: 0;
}
